.sources {
  --bg: rgb(235, 241, 245);

  border-radius: 4px;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  list-style: none outside none;
  border: 1px solid var(--bg);
  overflow: hidden;
}
.item {
  display: flex;
  padding-right: 4px;
  justify-content: space-between;
  line-height: 40px;
  align-items: center;
  cursor: pointer;
}
.indicator {
  display: inline-block;
  width: 5px;
  height: 30px;
}
.using > span:first-child {
  background-color: green;
}
.name {
  width: 100px;
  padding-left: 10px;
}
.src {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.actions {
  padding: 0;
}
.selected {
  background-color:  var(--bg);
}
.clientContainer {
  margin-right: 40px!important;
}
