html,
body {
  -webkit-app-region: drag;
  user-select: none;
}
html,
body,
#root {
  height: 100%;
}
body {
  margin: 0;
  padding-top: 24px;
  background-color: #f7f8f9;
}
#root {
  -webkit-app-region: no-drag;
}
