html,
body {
  -webkit-app-region: drag;
  user-select: none;
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  margin-top: 24px;
  padding: 8px;
  padding-top: 0;
  height: calc(100% - 24px);
  background-color: #f7f8f9;
  overflow-y: hidden;
}
#root {
  position: relative;
  -webkit-app-region: no-drag;
  height: 100%;
  overflow-y: scroll;
}
